.App {
  text-align: center;
 }
body{
  background-image: url(https://img.freepik.com/free-photo/top-view-cup-of-coffee-with-copy-space_23-2148336756.jpg?w=1800&t=st=1665427732~exp=1665428332~hmac=ef7a1db93bbfd5245259c99d5d5178f5f26a0d7c97b2ff97ac3fc8f0bd0b732f);
background-size: cover;
background-repeat: no-repeat;
min-height: 100vh;
background-position: right;

}
 h2{
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  color: #F637EC;
}
button{
  padding: 15px;
  font-size: 20px;
  margin-top: 5px;
  border: none;
  border-radius: 10px;
  background: rgb(255,255,255);
  background: linear-gradient(220deg, rgba(255,255,255,0.9893617021276596) 0%, rgba(233,235,180,1) 100%);
  color: black;
  font-family: 'Roboto', sans-serif;
}
button:hover{
  color: #D58BDD;
  font-weight: bold;
  }
h1{
  font-family: 'Roboto', sans-serif;
  color: #461111;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  
}
h3{
  font-family: 'Roboto', sans-serif;
  color:  rgb(246,55,236);
}
span{
  color: #F637EC;
  font-size: 25px;
  font-weight: bold;
}
@media all and (max-width: 375px){
p{
  color: rgb(255,255,255);
  color: linear-gradient(220deg, rgba(255,255,255,0.9893617021276596) 0%, rgba(233,235,180,1) 100%);
}
}
